
.table-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #ffffff ;
    width:95%;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
background-color:#ffffff;	
}

tr:hover {
          background-color: #ececec ;
        }

td,th  {
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
}


    
    h1 {
    text-align: center;
    }
a {
  text-decoration: none;
  color:#252f7b;
  float: right;
  margin-right:3%;
}
a:hover {
color:#f95031;
}
