
          input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    height: 2px;
    display: block;
    background-color: #fff;
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: f2f2f2;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    border-color: #cacaca;
    position:center;

    
  }
  .table-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background: #ffffff ;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
background-color:#ffffff;	
}

tr:hover {
          background-color: #ececec ;
        }

td,th  {

  text-align: left;
  padding: 8px;
}
th {
  text-align: center;
}
td {
  text-align: left;
}
    
    h1 {
    text-align: center;
    }
a {
  text-decoration: none;
}
  
  h1 {
      text-align: center;}
    

  
.button
  { 
  text-align: center; 
    display: block;
    margin: 0 auto;
  }
